.copyright {
  display: flex;
  box-sizing: border-box;
  width: 550px;
}

.copyright__text,
.copyright__dates {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  color: rgba(27, 45, 55, 0.5);
  text-transform: uppercase;
}

.copyright__text {
  margin-right: 60px;
}
