.copyright {
  display: flex;
  box-sizing: border-box;
  width: 550px;
  margin-top: 14px;
  margin-right: auto;
}

.copyright__text,
.copyright__dates {
  margin: 0;
  padding: 10px;
  font-size: 13px;
  line-height: 24px;
  color: rgba(27, 45, 55, 0.5);
  text-transform: uppercase;
}

.copyright__text {
  margin-right: 65px;
}

@media (max-width: $desktop-width) {
  .copyright {
    width: 50%;
  }
}

@media (max-width: $tablet-width) {
  .copyright {
    order: -1;
    width: auto;
    margin-bottom: -60px;
    margin-left: 42%;
  }

  .copyright__text {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .copyright {
    margin-bottom: -115px;
    margin-left: 25%;
  }
}
