.feedback {
  display: flex;
  background-color: $bg-blue;
}

.feedback__col {
  width: 50%;
}

.feedback__col--left {
  background-image: url("../img/paper-airplane-desktop@1x.png"), url("../img/feedback-triangle-medium-left.svg"), url("../img/feedback-triangle-big-left.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 82.8% 42%, 42.8% 76%, 70.5% 51%;
  background-size: 511px auto, auto, auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/paper-airplane-desktop@2x.png"), url("../img/feedback-triangle-medium-left.svg"), url("../img/feedback-triangle-big-left.svg");
  }
}

.feedback__col--right {
  box-sizing: border-box;
  padding-top: 88px;
  padding-bottom: 112px;
}

.feedback__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 10px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
}

.feedback__text {
  margin: 0;
  margin-bottom: 52px;
  padding: 0;
  padding-left: 16px;
}

.feedback__form {
  max-width: 570px;
  margin-left: 14px;
}

.feedback__form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback__form input {
  box-sizing: border-box;
  width: 270px;
  padding: 15px;
  padding-top: 13px;
  padding-left: 17px;
  padding-bottom: 17px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0;
}

.feedback__form input[type="text"],
.feedback__form input[type="tel"] {
  margin-bottom: 40px;
}

.feedback__form input::placeholder {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.feedback__form textarea {
  box-sizing: border-box;
  width: 570px;
  height: 154px;
  margin-bottom: 40px;
  padding: 15px;
  padding-top: 9px;
  padding-left: 17px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0;
  resize: none;
  overflow: auto;
}

.feedback__form textarea::placeholder {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.feedback__form button {
  box-sizing: border-box;
  width: 270px;
  margin-right: 7%;
  padding: 15px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.feedback__form button:hover,
.feedback__form button:focus {
  opacity: 0.6;
}

.feedback__form button:active {
  opacity: 0.2;
}

.feedback__form label {
  position: relative;
  box-sizing: border-box;
  width: 260px;
  padding-top: 9px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 5px;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.feedback__form label::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -2px;

  width: 15px;
  height: 15px;
  border: 1px solid #ffffff;
}

.feedback__form input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 2px;

  width: 8px;
  height: 5px;

  background-image: url("../img/icon-check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feedback__form input[type="checkbox"]:hover + label,
.feedback__form input[type="checkbox"]:focus + label {
  color: rgba(255, 255, 255, 0.6);
}

.feedback__form input[type="checkbox"]:hover + label::before,
.feedback__form input[type="checkbox"]:focus + label::before {
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.feedback__form input[type="checkbox"]:hover + label::after,
.feedback__form input[type="checkbox"]:focus + label::after {
  opacity: 0.6;
}

.feedback__form input[type="checkbox"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: $desktop-width) {
  .feedback {
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
  }

  .feedback__form {
    width: auto;
  }

  .feedback__form input {
    width: 46.67%;
  }

  .feedback__form textarea {
    width: 100%;
    height: 154px;
  }

  .feedback__form button {
    width: 48.67%;
  }

  .feedback__form label {
    width: 43.33%;
  }
}

@media (max-width: $tablet-width) {
  .feedback {
    padding-top: 81px;
    padding-bottom: 102px;
    padding-left: 79px;
    padding-right: 90px;
  }

  .feedback__col--left {
    display: none;
  }

  .feedback__col--right {
    width: 100%;
    padding: 0;
  }

  .feedback__title {
    font-size: 32px;
    margin-bottom: 14px;
  }

  .feedback__text {
    margin-bottom: 53px;
    padding-left: 14px;
  }

  .feedback__form {
    max-width: 100%;
    margin-left: 12px;
  }

  .feedback__form textarea {
    margin-bottom: 50px;
  }

  .feedback__form button {
    margin-right: 0;
  }

  .feedback__form label {
    width: 44.33%;
  }

  .feedback__form button:hover,
  .feedback__form button:focus,
  .feedback__form button:active {
    opacity: 1;
  }

  .feedback__form input[type="checkbox"]:hover + label,
  .feedback__form input[type="checkbox"]:focus + label {
    color: rgba(255, 255, 255, 0.8);
  }

  .feedback__form input[type="checkbox"]:hover + label::before,
  .feedback__form input[type="checkbox"]:focus + label::before {
    border: 1px solid rgba(255, 255, 255, 1);
  }

  .feedback__form input[type="checkbox"]:hover + label::after,
  .feedback__form input[type="checkbox"]:focus + label::after {
    opacity: 1;
  }
}

@media (max-width: $mobile-width) {
  .feedback {
    padding-top: 26px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .feedback__title {
    margin-bottom: 11px;
    font-size: 28px;
    line-height: 42px;
  }

  .feedback__text {
    margin-bottom: 25px;
  }

  .feedback__form input {
    width: 100%;
  }

  .feedback__form input[type="tel"],
  .feedback__form input[type="text"] {
    margin-bottom: 31px;
  }

  .feedback__form textarea {
    height: 100px;
    margin-bottom: 30px;
    padding-top: 9px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 14px;
  }

  .feedback__form button {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .feedback__form label {
    width: 100%;
  }
}
