.footer {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 1430px;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 3px;
  background-color: $bg-grey;
}

.footer__col {
  display: flex;
}

.footer__col--first {
  flex-direction: column;
}

.footer__col--second {
  flex-direction: row;
}

.footer__toggle {
  display: none;
}

.footer__additional {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 834px;
  margin-top: 14px;
}

.footer__additional a {
  padding: 10px;
  font-size: 13px;
  line-height: 24px;
  color: rgba(27, 45, 55, 0.5);
  text-transform: uppercase;
}

.footer__additional a:first-child {
  margin-left: 0;
}

.footer__additional a:hover,
.footer__additional a:focus {
  color: rgba(27, 45, 55, 1);
}

.footer__additional a:active {
  color: rgba(27, 45, 55, 0.2);
}

@media (max-width: $desktop-width) {
  .footer {
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
  }

  .footer__col--first {
    width: 30%;
  }

  .footer__col--second {
    width: 70%;
  }

  .footer-nav__item {
    width: auto;
    margin-right: 10px;
  }

  .footer__additional {
    width: 50%;
  }
}

@media (max-width: $tablet-width) {
  .footer {
    flex-direction: column;
    max-width: 770px;
    padding-top: 10px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer__col--first {
    flex-direction: row;
    justify-content: space-between;
    width: auto;
  }

  .footer__col--second {
    width: auto;
  }

  .footer__additional {
    width: 100%;
    margin-top: 22px;
  }
}

@media (max-width: $mobile-width) {
  .footer {
    padding-top: 74px;
  }

  .footer__col--second {
    margin-bottom: 24px;
  }

  .footer__toggle {
    position: relative;
    display: block;
    width: 18px;
    height: 16px;

    margin-top: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .footer__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 16px;
    height: 16px;

    background-image: url("../img/icon-plus.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .footer__toggle--active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 16px;
    height: 16px;

    background-image: url("../img/icon-minus.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .footer__additional {
    flex-direction: column;
    margin: 0 auto;
    width: auto;
  }

  .footer__additional a {
    text-align: center;
  }
}
