.footer {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 1430px;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 3px;
  background-color: $bg-grey;
}

.footer__col {
  display: flex;
}

.footer__col--first {
  flex-direction: column;
}

.footer__col--second {
  flex-direction: row;
}

.footer__toggle {
  display: none;
}

.footer__additional {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 834px;
  margin-top: 14px;
}

.footer__additional a {
  padding: 10px;
  font-size: 13px;
  line-height: 24px;
  color: rgba(27, 45, 55, 0.5);
  text-transform: uppercase;
}

.footer__additional a:first-child {
  margin-left: 0;
}

.footer__additional a:hover,
.footer__additional a:focus {
  color: rgba(27, 45, 55, 1);
}

.footer__additional a:active {
  color: rgba(27, 45, 55, 0.2);
}

@media (max-width: $desktop-width) {
  .footer {
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
  }

  .footer__col--first {
    width: 30%;
  }

  .footer__col--second {
    width: 70%;
  }

  .footer__additional {
    width: 50%;
  }
}

@media (max-width: $tablet-width) {
  .footer {
    flex-direction: column;
    max-width: 770px;
    padding-top: 10px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer__col--first {
    flex-direction: row;
    justify-content: space-between;
    width: auto;
  }

  .footer__col--second {
    width: auto;
  }

  .footer__additional {
    width: 100%;
    margin-top: 22px;
  }
}

@media (max-width: $mobile-width) {
  .footer {
    padding-top: 0;
  }

  .footer__col--first {
    flex-direction: column;
  }

  .footer__col--second {
    flex-direction: column;
    margin-bottom: 24px;
  }

  .footer__toggle {
    display: block;
    width: 30px;
    height: 30px;

    font-family: "PT Mono", "Arial", sans-serif;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;

    margin-top: 10px;
    border: none;
    color: #c4c4c4;
    background-color: transparent;
    cursor: pointer;
  }

  .footer__toggle--inactive::after {
    content: "\002B";
  }

  .footer__toggle--active::after {
    content: "\2212";
  }

  .footer__list--hidden {
    display: none;
  }

  .footer__additional {
    flex-direction: column;
    margin: 0 auto;
    width: auto;
  }

  .footer__additional a {
    text-align: center;
  }
}
