.logo {
  flex-grow: 1;
}

.logo--footer {
  margin-bottom: 54px;
  margin-right: 190px;
  flex-grow: 0;
}

.logo__link {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 4px;
}

.logo__link--footer {
  margin-left: 8px;
}

.logo__link img {
  margin-right: 10px;
}

.logo__company-name {
  box-sizing: border-box;
  width: 160px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 29px;
}

.logo__company-name--footer {
  color: #203c42;
}

.logo__slogan {
  box-sizing: border-box;
  width: 160px;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #788891;
}

.logo__slogan--footer {
  color: #788891;
}

@media (max-width: $tablet-width) {
  .logo--footer {
    width: 50%;
    margin-right: 0;
  }

  .logo__link {
    margin-left: 5px;
  }
}

@media (max-width: $mobile-width) {
  .logo__link {
    margin-top: 6px;
  }

  .logo__link img {
    width: 38px;
    height: 38px;
  }

  .logo__link--footer img {
    width: 52px;
    height: 52px;
  }

  .logo__text {
    display: none;
  }
}
