.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  box-sizing: border-box;
  margin: 0;
  margin-right: 6px;
  padding: 0;
  list-style: none;
}

.menu__item {
  display: flex;
  margin-top: 13px;
}

.menu__link {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;

  margin-right: 50px;
  padding-top: 14px;
  padding-bottom: 5px;
  line-height: 18px;
  color: #ffffff;
}

.menu__link:hover,
.menu__link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.menu__link:active {
  color: rgba(255, 255, 255, 0.2);
}

.menu__link--email {
  width: 200px;
  margin-right: 54px;
}

.menu__link--tel {
  width: 240px;
}

.menu__link:hover path,
.menu__link:focus path {
  fill-opacity: 0.6;
}

.menu__link:active path {
  fill-opacity: 0.2;
}

.menu__link-text {
  margin-left: 16px;
}

.menu__link-text--email {
  margin-left: 20px;
}

@media (max-width: $tablet-width) {
  .menu__list {
    margin: 0;
  }

  .menu__item {
    margin-top: 24px;
  }

  .menu__link {
    width: 30px;
    padding: 0;
    margin-right: 0;
    margin-left: 24px;
  }

  .menu__link--email svg {
    width: 26px;
    height: 19px;
  }

  .menu__link--tel svg {
    width: 24px;
    height: 24px;
  }

  .menu__link-text {
    display: none;
  }

  .menu__link:hover path,
  .menu__link:focus path {
    fill-opacity: 1;
  }

  .menu__link:active path {
    fill-opacity: 1;
  }
}

@media (max-width: $mobile-width) {
  .menu__item {
    margin-top: 14px;
  }

  .menu__link {
    margin-left: 17px;
  }
}
