.promo {
  display: flex;
  margin-top: -165px;
  padding-top: 120px;
  background-color: $bg-darkgrey;
  background-image: url("../img/bg-mask-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-mask-desktop@2x.png");
  }
}

@media (max-width: $tablet-width) {
  .promo {
    background-image: url("../img/bg-mask-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-mask-tablet@2x.png");
    }
  }
}

@media (max-width: $mobile-width) {
  .promo {
    background-image: url("../img/bg-mask-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-mask-mobile@2x.png");
    }
  }
}
